body {
    background-image: url(../Aufgabe_4.2/Bildmaterial/bg.png);
    width: 800px;
    margin: 0 auto;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bilder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#muschel1 {
    position:absolute;
    top: 100px;
    left: -250px
}

#muschel1:hover {
    content: url(../Aufgabe_4.2/Bildmaterial/muschel_perle.png);
}

#muschel2 {
    position: absolute;
    top: 30px;
    left: -40px;
}

#muschel2:hover {
    content: url(../Aufgabe_4.2/Bildmaterial/muschel_perle.png);
    
}

#muschel3 {
    position: absolute;
    top: 100px;
    left: 180px;
}

#muschel3:hover {
    content: url(../Aufgabe_4.2/Bildmaterial/muschel_perle.png);
    
}

h1 {
    color: white;
    position: absolute;
    top: 350px;
    left: 35%;
}